@import '../../variables.scss';

.tickets{
    @extend %column;
    gap: 20px;
    flex-grow: 1;
}

.tickets-list{
    display: flex;
    flex-direction: column;
}

.tickets-btn{
    width: 170px;
    height: 50px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $text-grey;
    border: 1px solid #DFE5EC;
}

.btn-active{
    background-color: $blue;
    color: white;
    &:hover{
        background-color: $blue-darker;
        color: white;
    }
    &:active{
        background-color: $blue-darkest !important;
        color: white !important;
    }
}

.btn-more{
    height: 45px;
    margin-bottom: 2em;
}