.no-tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 20px;
    padding-bottom: 0;
    max-width: 340px;
}

.img{
    max-width: 200px;
    margin-bottom: 1.2em;
}

.no-tickets-text {
    font-size: 14px;
}